{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to my Python learning journey! 🐍 As an aspiring Python enthusiast, I thrive on exploring the intricacies of the language and its vast applications. My expertise lies in the art of web scraping, where I effortlessly extract valuable insights from the digital realm.</p>
        <p>In the realm of web development, I've honed my skills in crafting robust Flask backend solutions. Whether it's architecting logical program flows or designing efficient algorithms, I find joy in creating seamless user experiences.</p>
        <p>Driven by curiosity, I'm on a quest to unravel the depths of Python's versatility. As I navigate through the world of programming, my passion for learning grows, propelling me towards new challenges and innovative solutions.</p>
        <p>Join me on this exciting journey as we delve into the wonders of Python, exploring its capabilities and pushing the boundaries of what's possible. Together, let's make coding an adventure filled with discovery and continuous growth.</p>
 
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}